# AWS Bedrock
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=

# MongoDB Atlas
MONGODB_URI=mongodb+srv://Hackathon:<db_password>@hackathon.jjcappv.mongodb.net/hackherway

# ServiceNow
SERVICENOW_INSTANCE_URL=
SERVICENOW_USERNAME=
SERVICENOW_PASSWORD=

# MS Teams
TEAMS_WEBHOOK_URL=
PUBLIC_BASE_URL=

# App
BYPASS_AUTH=true
